<div class="logo">three-hundred and sixty five</div><br>
<br>
<div class="rule"></div>

<% Day.getting_dates.each do |single_day, font| %>
  <div id="ampersandness" onclick="fontLink('https://github.com/leahjs/ampersancy');" >
  <div class="day1" style="font-family:<%= font %>">&</div>
  <div class="dayoftheweek"><%= single_day.strftime('%A').upcase %></div>
  <div class="date"><%= single_day.strftime('%-d') %></div>
  <div class="monyear"><%= single_day.strftime('%B, %Y') %></div><br> 
  </div>
<div class="rule"></div>
<% end %>
