@font-face {
  font-family: 'Conv_today-sans-serif-extra-light';
  src: url('fonts/today-sans-serif-extra-light.eot');
  src: local('☺'), url('fonts/today-sans-serif-extra-light.woff') format('woff'), 
        url('fonts/today-sans-serif-extra-light.ttf') format('truetype'), 
        url('fonts/today-sans-serif-extra-light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'cabrito_norm_regular_normRgIt';
    src: font-url('fonts/CabritoNormRegularItalic-webfont.eot');
    src: font-url('fonts/CabritoNormRegularItalic-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('fonts/CabritoNormRegularItalic-webfont.woff2') format('woff2'),
         font-url('fonts/CabritoNormRegularItalic-webfont.woff') format('woff'),
         font-url('fonts/CabritoNormRegularItalic-webfont.ttf') format('truetype'),
         font-url('fonts/CabritoNormRegularItalic-webfont.svg#cabrito_norm_regular_normRgIt') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ames_romanbold';
    src: url('fonts/AmesRoman-Bold-webfont.eot');
    src: url('fonts/AmesRoman-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/AmesRoman-Bold-webfont.woff2') format('woff2'),
         url('fonts/AmesRoman-Bold-webfont.woff') format('woff'),
         url('fonts/AmesRoman-Bold-webfont.ttf') format('truetype'),
         url('fonts/AmesRoman-Bold-webfont.svg#ames_romanbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aniversregular';
    src: url('fonts/Anivers_Regular-webfont.eot');
    src: url('fonts/Anivers_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Anivers_Regular-webfont.woff2') format('woff2'),
         url('fonts/Anivers_Regular-webfont.woff') format('woff'),
         url('fonts/Anivers_Regular-webfont.ttf') format('truetype'),
         url('fonts/Anivers_Regular-webfont.svg#aniversregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'calalight';
    src: url('fonts/CalaLig-webfont.eot');
    src: url('fonts/CalaLig-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/CalaLig-webfont.woff2') format('woff2'),
         url('fonts/CalaLig-webfont.woff') format('woff'),
         url('fonts/CalaLig-webfont.ttf') format('truetype'),
         url('fonts/CalaLig-webfont.svg#calalight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'callunaregular';
    src: url('fonts/Calluna-Regular-webfont.eot');
    src: url('fonts/Calluna-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Calluna-Regular-webfont.woff2') format('woff2'),
         url('fonts/Calluna-Regular-webfont.woff') format('woff'),
         url('fonts/Calluna-Regular-webfont.ttf') format('truetype'),
         url('fonts/Calluna-Regular-webfont.svg#callunaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'capitalight';
    src: url('fonts/CapitaLig-webfont.eot');
    src: url('fonts/CapitaLig-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/CapitaLig-webfont.woff2') format('woff2'),
         url('fonts/CapitaLig-webfont.woff') format('woff'),
         url('fonts/CapitaLig-webfont.ttf') format('truetype'),
         url('fonts/CapitaLig-webfont.svg#capitalight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cassiaextralight';
    src: url('fonts/CassiaXLig-webfont.eot');
    src: url('fonts/CassiaXLig-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/CassiaXLig-webfont.woff2') format('woff2'),
         url('fonts/CassiaXLig-webfont.woff') format('woff'),
         url('fonts/CassiaXLig-webfont.ttf') format('truetype'),
         url('fonts/CassiaXLig-webfont.svg#cassiaextralight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'civitalight';
    src: url('fonts/CivitaLig-webfont.eot');
    src: url('fonts/CivitaLig-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/CivitaLig-webfont.woff2') format('woff2'),
         url('fonts/CivitaLig-webfont.woff') format('woff'),
         url('fonts/CivitaLig-webfont.ttf') format('truetype'),
         url('fonts/CivitaLig-webfont.svg#civitalight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'code_pro_light_demoregular';
    src: url('fonts/Code_Pro_Light_Demo-webfont.eot');
    src: url('fonts/Code_Pro_Light_Demo-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Code_Pro_Light_Demo-webfont.woff2') format('woff2'),
         url('fonts/Code_Pro_Light_Demo-webfont.woff') format('woff'),
         url('fonts/Code_Pro_Light_Demo-webfont.ttf') format('truetype'),
         url('fonts/Code_Pro_Light_Demo-webfont.svg#code_pro_light_demoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'code_pro_demoregular';
    src: url('fonts/Code_Pro_Demo-webfont.eot');
    src: url('fonts/Code_Pro_Demo-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Code_Pro_Demo-webfont.woff2') format('woff2'),
         url('fonts/Code_Pro_Demo-webfont.woff') format('woff'),
         url('fonts/Code_Pro_Demo-webfont.ttf') format('truetype'),
         url('fonts/Code_Pro_Demo-webfont.svg#code_pro_demoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cordalight';
    src: url('fonts/CordaLig-webfont.eot');
    src: url('fonts/CordaLig-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/CordaLig-webfont.woff2') format('woff2'),
         url('fonts/CordaLig-webfont.woff') format('woff'),
         url('fonts/CordaLig-webfont.ttf') format('truetype'),
         url('fonts/CordaLig-webfont.svg#cordalight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fertigo_proregular';
    src: url('fonts/Fertigo_PRO-webfont.eot');
    src: url('fonts/Fertigo_PRO-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Fertigo_PRO-webfont.woff2') format('woff2'),
         url('fonts/Fertigo_PRO-webfont.woff') format('woff'),
         url('fonts/Fertigo_PRO-webfont.ttf') format('truetype'),
         url('fonts/Fertigo_PRO-webfont.svg#fertigo_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'galano_grotesque_alt_demobold';
    src: url('fonts/galanogrotesquealtdemo-bold-webfont.eot');
    src: url('fonts/galanogrotesquealtdemo-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/galanogrotesquealtdemo-bold-webfont.woff2') format('woff2'),
         url('fonts/galanogrotesquealtdemo-bold-webfont.woff') format('woff'),
         url('fonts/galanogrotesquealtdemo-bold-webfont.ttf') format('truetype'),
         url('fonts/galanogrotesquealtdemo-bold-webfont.svg#galano_grotesque_alt_demobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'galano_grotesque_demobold';
    src: url('fonts/galanogrotesquedemo-bold-webfont.eot');
    src: url('fonts/galanogrotesquedemo-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/galanogrotesquedemo-bold-webfont.woff2') format('woff2'),
         url('fonts/galanogrotesquedemo-bold-webfont.woff') format('woff'),
         url('fonts/galanogrotesquedemo-bold-webfont.ttf') format('truetype'),
         url('fonts/galanogrotesquedemo-bold-webfont.svg#galano_grotesque_demobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'geometria_lightlight';
    src: url('fonts/Geometria-Light-webfont.eot');
    src: url('fonts/Geometria-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Geometria-Light-webfont.woff2') format('woff2'),
         url('fonts/Geometria-Light-webfont.woff') format('woff'),
         url('fonts/Geometria-Light-webfont.ttf') format('truetype'),
         url('fonts/Geometria-Light-webfont.svg#geometria_lightlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'geotica_threeregular';
    src: url('fonts/Geotica_Three-webfont.eot');
    src: url('fonts/Geotica_Three-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Geotica_Three-webfont.woff2') format('woff2'),
         url('fonts/Geotica_Three-webfont.woff') format('woff'),
         url('fonts/Geotica_Three-webfont.ttf') format('truetype'),
         url('fonts/Geotica_Three-webfont.svg#geotica_threeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'globerbold_free';
    src: url('fonts/Glober_Bold_Free-webfont.eot');
    src: url('fonts/Glober_Bold_Free-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Glober_Bold_Free-webfont.woff2') format('woff2'),
         url('fonts/Glober_Bold_Free-webfont.woff') format('woff'),
         url('fonts/Glober_Bold_Free-webfont.ttf') format('truetype'),
         url('fonts/Glober_Bold_Free-webfont.svg#globerbold_free') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'globerthin_free';
    src: url('fonts/Glober_Thin_Free-webfont.eot');
    src: url('fonts/Glober_Thin_Free-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Glober_Thin_Free-webfont.woff2') format('woff2'),
         url('fonts/Glober_Thin_Free-webfont.woff') format('woff'),
         url('fonts/Glober_Thin_Free-webfont.ttf') format('truetype'),
         url('fonts/Glober_Thin_Free-webfont.svg#globerthin_free') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'linottesemibold';
    src: url('fonts/Linotte-SemiBold-webfont.eot');
    src: url('fonts/Linotte-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Linotte-SemiBold-webfont.woff2') format('woff2'),
         url('fonts/Linotte-SemiBold-webfont.woff') format('woff'),
         url('fonts/Linotte-SemiBold-webfont.ttf') format('truetype'),
         url('fonts/Linotte-SemiBold-webfont.svg#linottesemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lintelitalic';
    src: url('fonts/Lintel_Italic-webfont.eot');
    src: url('fonts/Lintel_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lintel_Italic-webfont.woff2') format('woff2'),
         url('fonts/Lintel_Italic-webfont.woff') format('woff'),
         url('fonts/Lintel_Italic-webfont.ttf') format('truetype'),
         url('fonts/Lintel_Italic-webfont.svg#lintelitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lintelregular';
    src: url('fonts/Lintel_Reg-webfont.eot');
    src: url('fonts/Lintel_Reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lintel_Reg-webfont.woff2') format('woff2'),
         url('fonts/Lintel_Reg-webfont.woff') format('woff'),
         url('fonts/Lintel_Reg-webfont.ttf') format('truetype'),
         url('fonts/Lintel_Reg-webfont.svg#lintelregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lulo_cleanoutline_bold';
    src: url('fonts/LuloCleanOutlineBold-webfont.eot');
    src: url('fonts/LuloCleanOutlineBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/LuloCleanOutlineBold-webfont.woff2') format('woff2'),
         url('fonts/LuloCleanOutlineBold-webfont.woff') format('woff'),
         url('fonts/LuloCleanOutlineBold-webfont.ttf') format('truetype'),
         url('fonts/LuloCleanOutlineBold-webfont.svg#lulo_cleanoutline_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'mergelight';
    src: url('fonts/merge_light-webfont.eot');
    src: url('fonts/merge_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/merge_light-webfont.woff2') format('woff2'),
         url('fonts/merge_light-webfont.woff') format('woff'),
         url('fonts/merge_light-webfont.ttf') format('truetype'),
         url('fonts/merge_light-webfont.svg#mergelight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo_sans500';
    src: url('fonts/MuseoSans_500-webfont.eot');
    src: url('fonts/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/MuseoSans_500-webfont.woff2') format('woff2'),
         url('fonts/MuseoSans_500-webfont.woff') format('woff'),
         url('fonts/MuseoSans_500-webfont.ttf') format('truetype'),
         url('fonts/MuseoSans_500-webfont.svg#museo_sans500') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo_slab500';
    src: url('fonts/Museo_Slab_500_2-webfont.eot');
    src: url('fonts/Museo_Slab_500_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Museo_Slab_500_2-webfont.woff2') format('woff2'),
         url('fonts/Museo_Slab_500_2-webfont.woff') format('woff'),
         url('fonts/Museo_Slab_500_2-webfont.ttf') format('truetype'),
         url('fonts/Museo_Slab_500_2-webfont.svg#museo_slab500') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nexa_boldregular';
    src: url('fonts/Nexa_Free_Bold-webfont.eot');
    src: url('fonts/Nexa_Free_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Nexa_Free_Bold-webfont.woff2') format('woff2'),
         url('fonts/Nexa_Free_Bold-webfont.woff') format('woff'),
         url('fonts/Nexa_Free_Bold-webfont.ttf') format('truetype'),
         url('fonts/Nexa_Free_Bold-webfont.svg#nexa_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nexa_lightregular';
    src: url('fonts/Nexa_Free_Light-webfont.eot');
    src: url('fonts/Nexa_Free_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Nexa_Free_Light-webfont.woff2') format('woff2'),
         url('fonts/Nexa_Free_Light-webfont.woff') format('woff'),
         url('fonts/Nexa_Free_Light-webfont.ttf') format('truetype'),
         url('fonts/Nexa_Free_Light-webfont.svg#nexa_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nexa_rust_extrasfree';
    src: url('fonts/NexaRustExtras-Free-webfont.eot');
    src: url('fonts/NexaRustExtras-Free-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/NexaRustExtras-Free-webfont.woff2') format('woff2'),
         url('fonts/NexaRustExtras-Free-webfont.woff') format('woff'),
         url('fonts/NexaRustExtras-Free-webfont.ttf') format('truetype'),
         url('fonts/NexaRustExtras-Free-webfont.svg#nexa_rust_extrasfree') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'novecento_sans_wide_bookbold';
    src: url('fonts/Novecentosanswide-Bold-webfont.eot');
    src: url('fonts/Novecentosanswide-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Novecentosanswide-Bold-webfont.woff2') format('woff2'),
         url('fonts/Novecentosanswide-Bold-webfont.woff') format('woff'),
         url('fonts/Novecentosanswide-Bold-webfont.ttf') format('truetype'),
         url('fonts/Novecentosanswide-Bold-webfont.svg#novecento_sans_wide_bookbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'novecento_sans_widebook';
    src: url('fonts/Novecentosanswide-Book-webfont.eot');
    src: url('fonts/Novecentosanswide-Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Novecentosanswide-Book-webfont.woff2') format('woff2'),
         url('fonts/Novecentosanswide-Book-webfont.woff') format('woff'),
         url('fonts/Novecentosanswide-Book-webfont.ttf') format('truetype'),
         url('fonts/Novecentosanswide-Book-webfont.svg#novecento_sans_widebook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'novecento_sans_widedemibold';
    src: url('fonts/Novecentosanswide-DemiBold-webfont.eot');
    src: url('fonts/Novecentosanswide-DemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Novecentosanswide-DemiBold-webfont.woff2') format('woff2'),
         url('fonts/Novecentosanswide-DemiBold-webfont.woff') format('woff'),
         url('fonts/Novecentosanswide-DemiBold-webfont.ttf') format('truetype'),
         url('fonts/Novecentosanswide-DemiBold-webfont.svg#novecento_sans_widedemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'novecento_sans_widelight';
    src: url('fonts/Novecentosanswide-Light-webfont.eot');
    src: url('fonts/Novecentosanswide-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Novecentosanswide-Light-webfont.woff2') format('woff2'),
         url('fonts/Novecentosanswide-Light-webfont.woff') format('woff'),
         url('fonts/Novecentosanswide-Light-webfont.ttf') format('truetype'),
         url('fonts/Novecentosanswide-Light-webfont.svg#novecento_sans_widelight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'novecento_sans_widemedium';
    src: url('fonts/Novecentosanswide-Medium-webfont.eot');
    src: url('fonts/Novecentosanswide-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Novecentosanswide-Medium-webfont.woff2') format('woff2'),
         url('fonts/Novecentosanswide-Medium-webfont.woff') format('woff'),
         url('fonts/Novecentosanswide-Medium-webfont.ttf') format('truetype'),
         url('fonts/Novecentosanswide-Medium-webfont.svg#novecento_sans_widemedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'novecento_sans_widenormal';
    src: url('fonts/Novecentosanswide-Normal-webfont.eot');
    src: url('fonts/Novecentosanswide-Normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Novecentosanswide-Normal-webfont.woff2') format('woff2'),
         url('fonts/Novecentosanswide-Normal-webfont.woff') format('woff'),
         url('fonts/Novecentosanswide-Normal-webfont.ttf') format('truetype'),
         url('fonts/Novecentosanswide-Normal-webfont.svg#novecento_sans_widenormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'questa_granderegular';
    src: url('fonts/2-Questa_Grande_Regular-webfont.eot');
    src: url('fonts/2-Questa_Grande_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/2-Questa_Grande_Regular-webfont.woff2') format('woff2'),
         url('fonts/2-Questa_Grande_Regular-webfont.woff') format('woff'),
         url('fonts/2-Questa_Grande_Regular-webfont.ttf') format('truetype'),
         url('fonts/2-Questa_Grande_Regular-webfont.svg#questa_granderegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'questaregular';
    src: url('fonts/2-Questa_Regular-webfont.eot');
    src: url('fonts/2-Questa_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/2-Questa_Regular-webfont.woff2') format('woff2'),
         url('fonts/2-Questa_Regular-webfont.woff') format('woff'),
         url('fonts/2-Questa_Regular-webfont.ttf') format('truetype'),
         url('fonts/2-Questa_Regular-webfont.svg#questaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'questa_sansregular';
    src: url('fonts/2-Questa_Sans_Regular-webfont.eot');
    src: url('fonts/2-Questa_Sans_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/2-Questa_Sans_Regular-webfont.woff2') format('woff2'),
         url('fonts/2-Questa_Sans_Regular-webfont.woff') format('woff'),
         url('fonts/2-Questa_Sans_Regular-webfont.ttf') format('truetype'),
         url('fonts/2-Questa_Sans_Regular-webfont.svg#questa_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ristretto_proregular';
    src: url('fonts/RistrettoPro-Regular-webfont.eot');
    src: url('fonts/RistrettoPro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/RistrettoPro-Regular-webfont.woff2') format('woff2'),
         url('fonts/RistrettoPro-Regular-webfont.woff') format('woff'),
         url('fonts/RistrettoPro-Regular-webfont.ttf') format('truetype'),
         url('fonts/RistrettoPro-Regular-webfont.svg#ristretto_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sanchezitalic';
    src: url('fonts/Sanchez-italic-webfont.eot');
    src: url('fonts/Sanchez-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Sanchez-italic-webfont.woff2') format('woff2'),
         url('fonts/Sanchez-italic-webfont.woff') format('woff'),
         url('fonts/Sanchez-italic-webfont.ttf') format('truetype'),
         url('fonts/Sanchez-italic-webfont.svg#sanchezitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sanchezregular';
    src: url('fonts/Sanchez-Regular-webfont.eot');
    src: url('fonts/Sanchez-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Sanchez-Regular-webfont.woff2') format('woff2'),
         url('fonts/Sanchez-Regular-webfont.woff') format('woff'),
         url('fonts/Sanchez-Regular-webfont.ttf') format('truetype'),
         url('fonts/Sanchez-Regular-webfont.svg#sanchezregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sina-regularregular';
    src: url('fonts/SinaReg-webfont.eot');
    src: url('fonts/SinaReg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SinaReg-webfont.woff2') format('woff2'),
         url('fonts/SinaReg-webfont.woff') format('woff'),
         url('fonts/SinaReg-webfont.ttf') format('truetype'),
         url('fonts/SinaReg-webfont.svg#sina-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sofia_prolight';
    src: url('fonts/SofiaProLight-webfont.eot');
    src: url('fonts/SofiaProLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SofiaProLight-webfont.woff2') format('woff2'),
         url('fonts/SofiaProLight-webfont.woff') format('woff'),
         url('fonts/SofiaProLight-webfont.ttf') format('truetype'),
         url('fonts/SofiaProLight-webfont.svg#sofia_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'Conv_BEBAS___';
  src: url('fonts/BEBAS___.eot');
  src: local('☺'), url('fonts/BEBAS___.woff') format('woff'), 
  url('fonts/BEBAS___.ttf') format('truetype'), 
  url('fonts/BEBAS___.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_BebasNeue';
  src: url('fonts/BebasNeue.eot');
  src: local('☺'), url('fonts/BebasNeue.woff') format('woff'), 
  url('fonts/BebasNeue.ttf') format('truetype'), 
  url('fonts/BebasNeue.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_BLANCH_CAPS_LIGHT';
  src: url('fonts/BLANCH_CAPS_LIGHT.eot');
  src: local('☺'), url('
  fonts/BLANCH_CAPS_LIGHT.woff') format('woff'), url('fonts/BLANCH_CAPS_LIGHT.ttf') format('truetype'), url('fonts/BLANCH_CAPS_LIGHT.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_COFFMilk';
  src: url('fonts/COFFMilk.eot');
  src: local('☺'), url('fonts/COFFMilk.woff') format('woff'), url('fonts/COFFMilk.ttf') format('truetype'), url('fonts/COFFMilk.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_Franchise-Bold';
  src: url('fonts/Franchise-Bold.eot');
  src: local('☺'), url('fonts/Franchise-Bold.woff') format('woff'), url('fonts/Franchise-Bold.ttf') format('truetype'), url('fonts/Franchise-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_Hagin Caps Thin';
  src: url('fonts/Hagin Caps Thin.eot');
  src: local('☺'), url('fonts/Hagin Caps Thin.woff') format('woff'), url('fonts/Hagin Caps Thin.ttf') format('truetype'), url('fonts/Hagin Caps Thin.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_Hoftype - Foro-ExtraLight';
  src: url('fonts/Hoftype - Foro-ExtraLight.eot');
  src: local('☺'), url('fonts/Hoftype - Foro-ExtraLight.woff') format('woff'), url('fonts/Hoftype - Foro-ExtraLight.ttf') format('truetype'), url('fonts/Hoftype - Foro-ExtraLight.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_Latinotype - Sanchez';
  src: url('fonts/Latinotype - Sanchez.eot');
  src: local('☺'), url('fonts/Latinotype - Sanchez.woff') format('woff'), url('fonts/Latinotype - Sanchez.ttf') format('truetype'), url('fonts/Latinotype - Sanchez.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_Lavanderia Delicate';
  src: url('fonts/Lavanderia Delicate.eot');
  src: local('☺'), url('fonts/Lavanderia Delicate.woff') format('woff'), url('fonts/Lavanderia Delicate.ttf') format('truetype'), url('fonts/Lavanderia Delicate.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_LeagueGothic-Regular';
  src: url('fonts/LeagueGothic-Regular.eot');
  src: local('☺'), url('fonts/LeagueGothic-Regular.woff') format('woff'), url('fonts/LeagueGothic-Regular.ttf') format('truetype'), url('fonts/LeagueGothic-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}