<!DOCTYPE html>
<html>
<head>
  <title>Ampersancy</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=times+new+roman">
<link href='http://fonts.googleapis.com/css?family=Quicksand:300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Hind' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="../../assets/stylesheets/days.scss" type="text/css" charset="utf-8" />
<link rel="stylesheet" href="../../assets/stylesheets/font.scss" type="text/css" charset="utf-8" />
</head>
<body>
<div id="corner">
  <a href="javascript:toggleLayer('contact');">Contact</a>
  
  <a href="javascript:toggleLayer('descr');">About</a>
</div>

<div id="descr">This is a blog celebrating the beauty of the ampersand, one is posted each day. (Click the ampersand to go to the foundry's page for the font or simply mouse-over to view the name).<BR>
—The body text is in Today Sans.<BR><BR>
Please feel free to contact us if you have any questions or suggestions!
</div>

<div id="contact">Email me: leahj.suter@gmail.com</div> 

<script type="text/javascript">
function toggleLayer(whichLayer) {
  var elem, vis;
  if(document.getElementById)
    elem = document.getElementById(whichLayer);
  else if(document.all)
      elem = document.all[whichLayer];
  else if(document.layers)
    elem = document.layers[whichLayer];
  vis = elem.style;
  if(vis.display==''&&elem.offsetWidth!=undefined&&elem.offsetHeight!=undefined)
    vis.display = (elem.offsetWidth!=0&&elem.offsetHeight!=0)?'block':'none';
  vis.display = (vis.display==''||vis.display=='block')?'none':'block';
} </script>

<script type="text/javascript">
    function fontLink(link){
      window.location.href = link;}
</script>

<%= yield %>

</body>
</html>