<!DOCTYPE html>
<html>
<head>
  <title>Ampersancy</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=times+new+roman">
<link href='http://fonts.googleapis.com/css?family=Quicksand:300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Hind' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="../../assets/stylesheets/days.scss" type="text/css" charset="utf-8" />
<link rel="stylesheet" href="../../assets/stylesheets/font.scss" type="text/css" charset="utf-8" />
</head>
<body>

<%= yield %>

</body>
</html>